body{
  background-color: #dddddd;
}
#content{
  margin:auto;
  width: 960px;
}
#header{
  width: 100%
  float: left;
  height: 300px;
  background: url(gambar/HEADER-BG.png);
}
#menu{
  width: 100%;
  height: 60px;
  float: left;
  background-color: #333333;
  text-align: right;
}
#main-content{
  width: 100%;
  min-height: auto;
}
#news{
  width: 70%;
  height: 100%;
  overflow: auto;
  float: left;
  background-color: white;
}
#side-menu{
  width: 30%;
  height: 100%;
  overflow: auto;
  float: left;
  background-color: #eeeeee;
}#footer{
  width: 100%;
  height: 40px;
  float: left;
  background-color: #333333;
  text-align: center;
  color: white;
}